#container > * {
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

#container {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 300px;
    background: rgb(0,22,68);
    background: linear-gradient(180deg, rgba(0,22,68,1) 0%, rgba(16,78,149,1) 46%, rgba(0,177,222,1) 100%); 
    color: white;
    border-radius: 2%;
}
    
#city {
    grid-column: span 2 / span 2;
    font-weight: bold;
    font-size: large;
}

#time {
    grid-row-start: 2;
}

#timezone {
    grid-row-start: 2;
}

#actualtemp {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

#mintemp {
    grid-row-start: 4;
}

#maxtemp {
    grid-row-start: 4;
}

#description {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}
        
.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr.solid {
    border-top: 3px solid #bbb;
  }